export(as.numfac,
       correct.degfree,
       decomp.relate,
       degfree,
       "degfree<-",
       extab,
       fac.combine,
       fac.divide,
       fac.gen,
       fac.layout,
       fac.nested,
       fac.recode,
       fitted.aovlist,
       fitted.errors,
       interaction.ABC.plot,
       is.allzero,
       is.projector,
       meanop,
       mpone,
       no.reps,
       power.exp,
       print.projector,
       projector,
       proj2.decomp,
       proj2.efficiency,
       proj2.ops,
       qqyeffects,
       residuals.aovlist,
       resid.errors,
       set.daeTolerance,
       strength,
       tukey.1df,
       yates.effects)
exportClasses(projector)
