#My namespace
export(Ameasures,
       as.data.frame.pstructure,
       as.numfac,
       blockboundaryPlot,
       blockboundary.plot,
       correct.degfree,
       decomp.relate,
       degfree,
       "degfree<-",
       designAmeasures,
       designAnatomy,
       designBlocksGGPlot,
       designGGPlot,
       designLatinSqrSys,
       designPlot,
       designPlotlabels,
       designRandomize,
       designTwophaseAnatomies,
       design.plot,
       detect.diff,
       efficiencies,
       efficiencies.pcanon,
       efficiencies.p2canon,
       efficiency.criteria,
       elements,
       extab,
       fac.ar1mat,
       fac.combine,
       fac.divide,
       fac.gen,
       fac.match,
       fac.meanop,
       fac.multinested,
       fac.nested,
       fac.recode,
       fac.sumop,
       fac.vcmat,
       fitted.aovlist,
       fitted.errors,
       get.daeTolerance,
       harmonic.mean,
       interaction.ABC.plot,
       is.allzero,
       is.projector,
       marginality,
       marginality.pcanon,
       marginality.pstructure,
       mat.ar1,
       mat.ar2,
       mat.ar3,
       mat.arma,
       mat.ma1,
       mat.ma2,
       mat.ncssvar,
       mat.sar,
       mat.sar2,
       mat.banded,
       mat.dirprod,
       mat.dirsum,
       mat.exp,
       mat.gau, 
       mat.I,
       mat.J,
       mat.Vpred,
       mat.Vpredicts,
       mpone,
       no.reps,
       power.exp,
       print.aliasing,
       print.projector,
       print.pstructure,
       print.summary.p2canon,
       print.summary.pcanon,
       projector,
       projs.combine.p2canon,
       projs.structure,
       projs.2canon,
       projs.canon,
       proj2.combine,
       proj2.decomp,
       proj2.efficiency,
       proj2.eigen,
       proj2.ops,
       pstructure, 
       pstructure.formula,
       qqyeffects,
       residuals.aovlist,
       resid.errors,
       rmvnorm,
       set.daeTolerance,
       strength,
       summary.p2canon,
       summary.pcanon,
       tukey.1df,
       yates.effects,
       Zncsspline)
exportClasses(projector)
importFrom("graphics", "abline", "identify", "lines", "mtext", "par",
             "plot", "polygon", "text")
importFrom("methods", "as", "new", "setMethod", "validObject")
importFrom("plyr", "is.formula")
importFrom("stats", "aov", "as.formula", "coef", "fitted", "formula",
             "lm", "model.frame", "model.matrix", "na.omit", "optimize",
             "pf", "ppoints", "proj", "qf", "qnorm", "qqplot",
             "residuals", "rnorm", "runif", "var")
import(ggplot2)
S3method(as.data.frame, pstructure)
S3method(print, aliasing)
S3method(print, projector)
S3method(print, pstructure)
S3method(print, summary.p2canon)
S3method(print, summary.pcanon)
S3method(fitted, aovlist)
S3method(fitted, errors)
S3method(efficiencies, pcanon)
S3method(efficiencies, p2canon)
S3method(marginality, pcanon)
S3method(marginality, pstructure)
S3method(residuals, aovlist)
S3method(residuals, aovlist, resid.errors)
S3method(pstructure, formula)
S3method(summary, p2canon)
S3method(summary, pcanon)
